
.main {
  display: grid;
  max-width: 100%;
  position: relative;
  grid-template-areas: "header header"
                       "left right"
                       "footer footer";
  grid-template-rows: 100px 600px 150px;
  grid-template-columns: 50% 50%;
  background-color: #3E4454;
}

.container {
  min-width: 500px;
  margin: auto;
}

h1, h2, p, a {
  font-family: Avenir;
  font-style: normal;
}

header {
  background-color: #DEE7FF;
  grid-area: header;
  left: 0px;
  top: 0px;
}

.nav-bar {
  margin-left: 20%;
  overflow: hidden;
}

.nav-bar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.nav-bar a.active {
  color: #09339E;
}

.nav-bar a:hover {
  color: #446DFF;
}

#header-logo {
  position: absolute;
  left: 2%;
  top: .75%;
}

#header-search {
  position: absolute;
  left: 63%;
  top: 3%;
}

#header-user {
  position: absolute;
  left: 85%;
  top: 3%;
}

#header-cart {
  position: absolute;
  left: 90%;
  top: 3%;
}

.left {
  background-color: #FBFCFF;
  grid-area: left;
  background-image: url("/Users/zachvancleef/website-projects/PUI/PUI-Assignment5/images/Footprints.png");
}

.new-arrivals-background {
  background: rgba(196, 196, 196, 0.65);
  position: absolute;
  width: 50%;
  height: 300px;
  top: 200px;
}

.new-arrivals-content {
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
}

#left-head {
  font-weight: 800;
  font-size: 42px;
  line-height: 52px;
}

.right {
  background-color: #FBFCFF;
  grid-area: right;
}

#right-head {
  margin-left: 5%;
  font-weight: 800;
  font-size: 42px;
  line-height: 52px;
}

#right-content1 {
  position: absolute;
  width: 410px;
  left: 60%;
  top: 30%;
}

#right-content2 {
  position: absolute;
  width: 200px;
  left: 60%;
  top: 52%;
}

#cat-img {
  position: absolute;
  width: 173px;
  height: 210px;
  left: 80%;
  top: 52%;
}

footer {
  background-color: #3E4454;
  color: white;
  grid-area: footer;
}

.footer-nav-options {
  margin-left: 10%;
  overflow: hidden;
}

.footer-nav-options a{
  text-decoration: none;
  margin-left: 15px;
  color: white;
}

.footer-shop {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-customer-service {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-muddy-paws {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}
